// Animation
$a-time:                        .3s;
$a-micro-time:                  .15s;
$a-long-time:                   .7s;

// Fonts
$font-base:                     10px;
$font-family:                   Verdana, Arial, Helvetica, sans-serif;

// Colors
$c-select-color:                #f00;
$c-select-background:           #000;

$c-text:                        #121212;
$c-body-background:             #fff !default;

$c-white:                       #fff;
$c-black:                       #000;
$c-very-light-grey:             #cacaca;

// SIZE
$layout-width:                  960px;
$layout-margin:                 10px;

$header-height:                 159px;

$footer-margin:                 20px;
$footer-height:                 100px;

$sidebar-width:                 200px;
$sidebar-margin:                20px;
